@model movies_app.Models.Result;

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Title: @Model.Title</h4>
    <p>Description: @Model.Overview</p>
    <!-- Add other properties as needed -->
</div>
