@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Assuming you have a layout file
}

<!DOCTYPE html>
<html>
<body>
    @await Html.PartialAsync("_MovieGrid")
</body>
</html>
