@model movies_app.Models.Root

<div class="movie-grid">
    @if (Model != null && Model.Results != null)
    {
        @foreach (var result in Model.Results)
            {
            <div class="movie-item">
                <img src="@($"https://image.tmdb.org/t/p/w500/{result.PosterPath}")" alt="@result.Title" class="movie-poster" />
                <div class="movie-info">
                    <h4>@result.Title</h4>
                    <p>123 MIN&nbsp;&nbsp;|&nbsp;&nbsp;ADVENTURE, ACTION</p>
                </div>
            </div>

        }
    }
    else
    {
        <p>Failed to retrieve data from the API.</p>
    }
</div>
